@font-face {
	font-family: "Montserrat";
	font-style: normal;
	src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: "Exo2-Bold";
	font-style: normal;
	src: url(/fonts/Exo2-Bold.ttf);
}
@font-face {
	font-family: "Exo2-Regular";
	font-style: normal;
	src: url(/fonts/Exo2-Regular.ttf);
}
@font-face {
	font-family: "Roboto-Bold";
	font-style: normal;
	src: url(/fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: "Roboto-Regular";
	font-style: normal;
	src: url(/fonts/Roboto-Regular.ttf);
}
body {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.main-body {
	max-width: 1440px;
	margin: auto;
	font-family: "Roboto-Regular";
	padding: 0 35px 0 35px;
}
header {
	height: 60px;
}

header .logo img{
	width: 200px;
	height: 54px;
	float: left;
	margin:13px 515px 13px 0;
}
nav .menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav .menu a {
	text-decoration: none;
	font-family: "Montserrat";
	display: inline-block;
	color: #303030;
	font-size: 18px;
	border-bottom: 2px #FFF solid;
}
nav .menu a:hover {
	color: #E97200;
	border-bottom: 2px #E97200 solid;
}
nav .menu li {
	float: left;
	margin: 29px 23px 29px 0;
}

nav .menu li:last-child {
	margin-right: 0;
}

.line {
	width: 1370px;
	margin-top: 29px;
	border-bottom: 1px solid #454545;
}
.contain-news-header {
	font-family: "Roboto-Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	color: #1C1C1C;
	margin-top: 30px;
	margin-bottom: 50px;
}
.contain-news-post {
	display: inline-block;
	justify-content: space-around;
}
.contain-news-post-block {
	width: 290px;
	height: 420px;
	float: left;
	background: #fcfcfc;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-right: 70px;
	position:relative;
}
.contain-news-post-block:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.contain-news-post-block:nth-last-child(-n+1) {
	margin-right: 0px;
}
.contain-news-post-block-img img {
	width: 290px;
	border-radius: 20px 20px 0 0;
}
.contain-news-post-block h3 {
	font-family: "Roboto-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	margin-left: 17px;
	margin-right: 17px;
}

.contain-news-post-block p {
	font-family: "Exo2-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin-left: 17px;
	margin-right: 17px;
}
.contain-news-post-block a {
	font-family: "Exo2-Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #00BECA;
	margin-left: 17px;
	margin-right: 17px;
	text-decoration: none;
	position:absolute;
	bottom: 40px;
}
.contain-features-header {
	font-family: "Roboto-Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	color: #1C1C1C;
	margin-top: 60px;
	margin-bottom: 50px;
}
.containt-features-row {
	display: inline-block;
	justify-content: space-around;
	margin-top: 20px;
}


.contain-features-cell {
	width: 404px;
	height: 467px;
	float: left;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	margin-right: 79px;
	position:relative;
}
.contain-features-cell:last-child {
	margin-right: 0px;
}
.contain-features-cell:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.contain-features-cell-img img {
	width: 404px;
	height: 240px;
	border-radius: 20px 20px 0 0;
}

.contain-features-cell h3 {
	font-family: "Roboto-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 26px;
	margin-left: 18px;
	margin-right: 18px;
}
.contain-features-cell p {
	font-family: "Exo2-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin-left: 18px;
	margin-right: 18px;
}
.contain-features-cell a {
	
	font-family: "Exo2-Bold";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #00BECA;
	margin-left: 18px;
	margin-right: 18px;
	text-decoration: none;
	position:absolute;
	bottom: 40px;
}

.contain-opensource {
	display: flex;
	margin-top: 60px;
	width: 1370px;
	height: 325px;
	background-color: #1C1C1C;
	color: #46EBC2;
	padding: 40px 40px 0 40px;
	border-radius: 20px;
	padding: 0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.contain-opensource {
	margin-right: 331px;
}
.contain-opensource-text h2{
	font-family: "Roboto-Bold";
	font-size: 64px;
	line-height: 75px;
	color: #46EBC2;
	margin: 40px 0 0 40px;
}
.contain-opensource-text p {
	margin-top: 20px;
	margin-left: 40px;
	font-family: "Exo2-Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #46EBC2;
}

.contain-opensource-img img {
	display: block;
	float: right;
	margin:40px 70px 40px 331px;
}
.contain-download {
	margin-top: 60px;
	width: 1370px;
	height: 256px;
	background: #1C1C1C;
	background-image:linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/bg_download.png);
  	background-repeat: no-repeat;
  	background-size: cover;
	color: #46EBC2;
	border-radius: 20px;
	font-family: "Roboto-Bold";
	}

.block1 {
	padding-top: 64px;
}

.contain-download p {
	width: 258px;
	height: 28px;
	font-size: 24px;
	color: #FFF;
	margin: 0px auto 20px auto;
	}

.contain-download-button {
	margin-left: auto;
	margin-right: auto;
	width: 364px;
	height: 80px;
	background-color: #00BECA;
	border-radius: 20px;
	}
.contain-download-button div {
	padding: 20px 0 20px 0;
	text-align: center;
}
.contain-download-button p {
	width: 295px;
	height: 42px;
	font-size: 36px;
	color: #FFF;
	}
.contain-download-button:hover {
	background-color: #46EBC2;
}
footer {
	margin-top: 60px;
	width: 1370px;
	height: 120px;
	background: #1C1C1C;
	border-radius: 20px 20px 0 0;
	padding-top: 20px;
}
footer div {
	
}
footer div li {
	display: inline;
	margin-right: 23px;
}
footer .menu-footer {
	list-style: none;
	text-align: center;
	padding: 0;
}
footer .menu-footer a {
	text-decoration: none;
	font-family: "Montserrat";
	color: #E8E8E8;
	font-size: 18px;
}

footer .menu-footer a:hover {
	color: #E97200;
	border-bottom: 2px #E97200 solid;
}

footer .copyright {
	margin-top: 40px;
	text-align: center;
	font-family: "Exo2-Regular";
	font-size: 14px;
	color: #fff;
}